<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://fonts.googleapis.com/css?family=Raleway&display=swap' %>
     <%= favicon_link_tag 'favicon.ico.png' %>
  </head>

  <body>
    <div id ="sidebar">
        <ul>
          <li class="category"><%= link_to  "Tumblr", root_path %></li>
          <li ><%= link_to "Posts", root_path%></li>
          <li>Acerca de</li>
        </ul>

        <p class="sign_in" >User Login</p>
    </div>

    <div id= "main_content">
      <div id="header">
        <p>post feed</p>
        <div class="buttons">
            <button class="button"><%= link_to "Crear un post", new_post_path%></button>
            <button class="button">log out</button>
        </div>
      </div>

     
      <%= yield %>
    </div>
    
  </body>
</html>
